# 忽略项目根目录下所有以 .a 结尾的文件
# *.a

# lib.a 除外（也就是说，除了lib.a文件外，项目根目录下其他文件或目录均被忽略）
# !lib.a

# 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO（就是说如果其他目录下有同名的目录，那与下面指定的是没关系的）
# /TODO

# 忽略 build/ 目录下的所有文件（如果远程仓库也没有build目录，该目录也不会被推送，因为此时相当于空目录，空目录无法推送）
# build/

# 忽略项目根目录下的 doc 目录下的所有以 .txt 结尾的文件，但不包括 #doc/server/*.txt
# doc/*.txt


*.tar.gz
*.rpm-bundle.tar
