<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="maven.spring.mapper.UserMapper">
    <select id="selectUserIPage" parameterType="Integer" resultType="maven.spring.entity.User">
        select * from user where user.age &gt;=#{age}
    </select>
    <select id="selectAllUser" resultType="maven.spring.entity.User">
        select  * from user
    </select>
</mapper>